/* Enter your custom styles here */
.icon{
    margin-left: 15px;
    margin-right: 50px;
    margin-top: 3px;
    font-size: 0.975rem;
    
    
}
.sapUiTf {

padding-left: 0px !important;;

}
.tnk1{
    margin-left: 140px;
    margin-right: 2px;
    margin-top: 7.5px;
    font-size: 0.975rem;
    width: 40px;
    
}
.tnk2{
    margin-left: 50px;
    margin-right: 2px;
    margin-top: 7.5px;
    font-size: 0.975rem;
    width: 40px;
    
}
.tnkft{
    margin-left: 2px;
    margin-right: 20px;
    margin-top: 7.5px;
    font-size: 0.975rem;
    width: 40px;
    
}
.label2indent{
    margin-left: 70px;
    margin-right: 4px;
    margin-top: 7.5px;
    font-size: 0.975rem;
    width: 202px;
    
}
.comboLabel2Indent{
    margin-left: 24px;
    margin-right: 4px;
    margin-top: .5px;
    font-size: 0.975rem;
    width: 225px;
    padding-left: 0px !important;;
}
.label3indent{
    margin-left: 90px;
    margin-right: 4px;
    margin-top: 7.5px;
    font-size: 0.975rem;
    width: 202px;
}

.cfs{
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 7.5px;
    font-size: 0.975rem;
    width: 20px;
    
}
.lbl2ndrow{
    margin-left: 47px;
    margin-right: 4px;
    margin-top: 0.5px;
    font-size: 0.975rem;
    width: 225px;
}
.Pools3{
    margin-left: 100px;
    margin-right: 4px;
    margin-top: 7.5px;
    font-size: 0.975rem;
    width: 145px;
    
}
.comboLabel{
    margin-left: 47px;
    margin-right: 4px;
    margin-top: 7.5px;
    font-size: 0.975rem;
    width: 225px;
    padding-left: 0px !important;
    cursor: initial;
    
}

.comboLabel{
    margin-left: 47px;
    margin-right: 4px;
    margin-top: 7.5px;
    font-size: 0.975rem;
    width: 225px;
    padding-left: 0px !important;;

}
.comboLabelBold{
    margin-left: 47px;
    margin-right: 4px;
    margin-top: 7.5px;
    font-size: 0.975rem;
    width: 225px;
    font-weight: bold;
    

}

.comboLabel3{
    margin-left: 20px;
    margin-right: 4px;
    margin-top: 7.5px;
    font-size: 0.975rem;
    width: 100px;
    
}
.comboLabel2{
    margin-left: 10px;
    margin-right: 4px;
    margin-top: 7.5px;
    font-size: 0.975rem;
    width: 180px;
    
}
.lbl2ndrow{
    margin-left: 47px;
    margin-right: 4px;
    margin-top: .5px;
    font-size: 0.975rem;
    width: 225px;
    
}
.lbl1stRow{
    margin-left: 47px;
    margin-right: 4px;
    margin-top: 0px;
    font-size: 0.975rem;
    width: 225px;
    
}

.comboLabel_margin{
    margin-left: 15px;
    margin-right: 4px;
    margin-top: 7.5px;
    font-size: 0.975rem;
    
}
.HeaderLabelS{
    font-size: 80%;
    margin-left: 40px;
    margin-right: 8px;
}   
HeaderLabelS_r{
    font-size: 80%;
    margin-right: 8px;
}
.HeaderLabelM{
    font-size: 0.975rem;
    margin-left: 40px;
}
.titleM{
    font-size: 0.975rem;
    margin-left: 40px;
    margin-top: 40px;
}
.titleMr{
    text-align: right;
    font-size: 0.975rem;
    margin-right: 40px;
    margin-top: 40px;
    
}
.titleDWR{
    font-size: 0.995rem;
    margin-top: 40px;
}
.titleFD{
    font-size: 0.995rem;

}
.titleMNC{
    font-size: 1.1rem;
    margin-top: 10px;
}
.titledate{
    font-size: 0.975rem;
    margin-top: 7px;
    margin-bottom: 7px;
}
.titleOpNme{
    font-size: 0.995rem;

}

.HeaderLabelL{
    font-size: 125%;
}

.box {
    display: flex;
    justify-content: space-between;
  }
  .btn {
    margin-left: 70px;
  }
  .cbx_green{
    margin-left: 15px;
    margin-right: 4px;
    margin-top: 7.5px;
    font-size: 0.975rem;
    width: 225px;
    background-color: green;
  }
  .cbx_blue{
    margin-left: 15px;
    margin-right: 4px;
    margin-top: 7.5px;
    font-size: 0.975rem;
    width: 225px;
    background-color: blue;
  }
  .cbx_yellow{
    margin-left: 15px;
    margin-right: 4px;
    margin-top: 7.5px;
    font-size: 0.975rem;
    width: 225px;
    background-color: yellow;
  }
  .cbx_orange{
    margin-left: 15px;
    margin-right: 4px;
    margin-top: 7.5px;
    font-size: 0.975rem;
    width: 225px;
    background-color: orange;
  }
  .cbx_red{
    margin-left: 15px;
    margin-right: 4px;
    margin-top: 7.5px;
    font-size: 0.975rem;
    width: 225px;
    background-color: red;
  }
  .table{
    background-color: rgb(245, 245, 245);
  }
  .tablefont{
      font-weight: bolder;
      font-size: 150px;
  }
  .btnSubmit{
      margin-top: 40px;
      margin-bottom: 40px;
      height: 200%;
      font-size: 1rem;
  }
  .lblSubmit{
    margin-top: 48px;
    margin-bottom: 40px;
    margin-left: 4px;
    height: 200%;
    font-size: 1rem;
}
  .rmrks{
      margin-left: 47px;
      
  }
  .chxbxlbl{
    margin-left: 47px;
    margin-top: 7.5px;
    font-size: 0.975rem;
    width:400px;
    
}.wcdTble{
    margin-left: 24px;
}
.TblTitle{
    font-size: 0.975rem;
    margin-left: 47px;
}
